In [13]:
import pandas as pd
import numpy as nm
import os

In [5]:
sers1 = pd.Series()

In [7]:
sers1

Series([], dtype: float64)

In [22]:
a = nm.array(nm.random.rand(10))
arr = pd.Series(a)
arr

0    0.461820
1    0.564936
2    0.897525
3    0.920018
4    0.841960
5    0.897105
6    0.226998
7    0.828187
8    0.406875
9    0.340657
dtype: float64

In [14]:
d = {'b' : 1, 'a' : 0, 'c' : 2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [27]:
df = pd.DataFrame(nm.random.randn(4, 2), index=['a', 'b', 'c', 'd'], columns=['ujjwal','vivek'])

In [28]:
df

     ujjwal     vivek
a -1.356440 -2.201756
b  1.242835 -0.777995
c -0.692997 -0.714100
d -0.339038 -1.501523

In [44]:
df = df.reindex(index =['a','b','c','d','e'], columns = ['ujjwal','vivek','princi'])

In [30]:
df

     ujjwal     vivek  princi
a -1.356440 -2.201756     NaN
b  1.242835 -0.777995     NaN
c -0.692997 -0.714100     NaN
d -0.339038 -1.501523     NaN
e       NaN       NaN     NaN

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
ujjwal    4 non-null float64
vivek     4 non-null float64
princi    0 non-null float64
dtypes: float64(3)
memory usage: 160.0+ bytes

In [32]:
df.describe()

         ujjwal     vivek  princi
count  4.000000  4.000000     0.0
mean  -0.286410 -1.298843     NaN
std    1.103274  0.699890     NaN
min   -1.356440 -2.201756     NaN
25%   -0.858857 -1.676581     NaN
50%   -0.516017 -1.139759     NaN
75%    0.056430 -0.762021     NaN
max    1.242835 -0.714100     NaN

In [34]:
df.isnull().sum()

ujjwal    1
vivek     1
princi    5
dtype: int64

#data is more focus or normal than use mean.
#if data is having more outlier or scattered then use median.

In [47]:
df.fillna('ujju')

     ujjwal     vivek princi
a  -1.35644  -2.20176   ujju
b   1.24284 -0.777995   ujju
c -0.692997   -0.7141   ujju
d -0.339038  -1.50152   ujju
e      ujju      ujju   ujju

In [48]:
df.dropna()

Empty DataFrame
Columns: [ujjwal, vivek, princi]
Index: []